<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <h3 class="mb-4 text-xl font-semibold dark:text-white">
        Mettre à jour mon mot de passe
    </h3>
    <div>
        {{ form_start(form, {'action': path('app_profile_change_password')}) }}
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword.first) }}
            {{ form_row(form.newPassword.second) }}
        </div>
        <div class="col-span-6 sm:col-full">
            <button class="transform hover:scale-110 hover:bg-success transition-transform duration-200 text-body-sm font-semibold text-white bg-neutral-900
                                py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                Modifier mon mot de passe
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>