{% extends 'base.html.twig' %}

{% block title %}Spaarple - Vos Estimation de site{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900 sm:m-20 mt-20">
        <div class="mb-4 col-span-full xl:mb-2">
            <div class="flex flex-col sm:flex-row justify-between items-center">
                <h1 class="lg:text-display-1xl text-display-md font-semibold mb-4 sm:mb-0">Mes estimations</h1>
                <div class="flex justify-around space-x-4">
                    <button class="transform hover:scale-110 transition-transform duration-200 hover:bg-info text-body-sm font-semibold text-white bg-info
                    py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                        Nous contactez
                    </button>
                </div>
            </div>
        </div>
        <div class="col-span-full overflow-x-scroll sm:overflow-x-auto">
            <div class="flex flex-col">
                <div class="overflow-x-auto">
                    <div class="block sm:inline-block min-w-full align-middle">
                        <div class="overflow-hidden shadow">
                            <table class="min-w-full divide-y divide-gray-200 table-auto dark:divide-gray-600">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Description</th>
                                    <th scope="col" class="px-6 py-3">Référence</th>
                                    <th scope="col" class="px-6 py-3">CMS</th>
                                    <th scope="col" class="px-6 py-3">Compléxité</th>
                                    <th scope="col" class="px-6 py-3">Intégration(s)</th>
                                    <th scope="col" class="px-6 py-3">Pages</th>
                                    <th scope="col" class="px-6 py-3">Type de page</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for estimate in estimates %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6">{{ estimate.description }}</th>
                                        <td class="px-6 py-4">{{ estimate.reference }}</td>
                                        <td class="px-6 py-4">{{ estimate.cms.value }}</td>
                                        <td class="px-6 py-4">{{ estimate.complexity.value }}</td>
                                        <td class="px-6 py-4">
                                            {% for integrate in estimate.integration %}
                                                {{ integrate }},
                                            {% endfor %}
                                        </td>
                                        <td class="px-6 py-4">{{ estimate.page.value }}</td>
                                        <td class="px-6 py-4">{{ estimate.descriptionPage }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}