{% extends 'base.html.twig' %}

{% block title %}Spaarple{% endblock %}

{% block body %}
    <div>
        <div class="container mx-auto mt-20">
            <div class="grid lg:grid-cols-12 grid-cols-1 flex-col md:pt-32 pt-16 lg:pb-48 md:pb-40 pb-20 justify-between items-center text-center">
                <div class="lg:col-span-1"></div>
                <div class="lg:col-span-10 flex flex-col items-center">
                    <h1 class="lg:text-display-2xl md:text-display-xl text-display-md font-semibold pb-2">
                        Ensemble, donnons vie à vos projets web
                    </h1>
                    <p class="md:text-body-xl text-body-lg font-medium pb-8 mt-2">
                        Transformez votre vision en réalité avec nos solutions web sur mesure. Spécialistes en création
                        de sites web et en développement de projets digitaux personnalisés, nous donnons vie à vos idées.
                        <br>Découvrez comment nous pouvons vous accompagner.
                    </p>
                    <a href="{{ path('app_estimate_index') }}"
                       class="transform hover:scale-110 transition-transform duration-200 text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                        Transformez votre vision en réalité
                    </a>
                </div>
                <div class="lg:col-span-1"></div>
            </div>
            <div class="flex justify-center relative pb-1">
                <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-hero-line"></span>
                <div class="bg-white px-4 py-2 relative">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 29.3333C23.3638 29.3333 29.3333 23.3638 29.3333 16C29.3333 8.63616 23.3638 2.66663 16 2.66663C8.63616 2.66663 2.66663 8.63616 2.66663 16C2.66663 23.3638 8.63616 29.3333 16 29.3333Z"
                            stroke="#4B5563"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="stroke-neutral-600"
                        />
                        <path
                            d="M11.2933 14.3199L16 19.0133L20.7067 14.3199"
                            stroke="#4B5563"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="stroke-neutral-600"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div id="work">
        <div class="container mx-auto">
            <div class="flex flex-col gap-12 lg:py-28 py-20">
                <div class="grid lg:grid-cols-12 grid-cols-1 gap-8 items-center">
                    <div class="xl:col-span-6 lg:col-span-8 flex flex-row items-center gap-8 lg:pr-8">
                        <h2 class="lg:text-display-lg text-display-md font-semibold lg:pl-10">
                            Découvrez nos projets web accomplis
                        </h2>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex md:flex-row flex-col flex-wrap">
                        <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                            <div>
                                <img src="{{ asset('build/images/designbysolenne-site-freelance.png') }}"
                                     title="Échantillons graphiques - Logo et illustration réalisés par la freelance en graphisme"
                                     alt="Échantillons graphiques - Logo et illustration réalisés par la freelance en graphisme"  />
                            </div>
                            <div class="flex flex-col self-stretch pt-6">
                                <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                    DesignBySolenne
                                </h3>
                                <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                    Mettez en avant votre talent avec un site sur mesure : découvrez DesignBySolenne,
                                    la vitrine digitale qui valorise l'expertise unique d'une auto-entrepreneuse créative.
                                </p>
                                <div class="lg:col-span-5 flex flex-col items-end">
                                    <a href="https://designbysolenne.github.io/fr/" target="_blank"
                                       class="transform hover:scale-110 transition-transform duration-200 text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 my-4 rounded-full flex flex-row gap-2
                                    items-center justify-center">
                                        Découvrez le site
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                            <div>
                                <img src="{{ asset('build/images/carsfleet-application-gestion-de-flotte-automobile.png') }}"
                                     title="Interface d'accueil et réservation de trajet - Aperçu de la page d'accueil et du processus de réservation de véhicule"
                                     alt="Interface d'accueil et réservation de trajet - Aperçu de la page d'accueil et du processus de réservation de véhicule"/>
                            </div>
                            <div class="flex flex-col self-stretch pt-6">
                                <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                    CarsFleet
                                </h3>
                                <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                    Gérez votre flotte automobile avec efficacité grâce à CarsFleet, la solution intuitive
                                    qui révolutionne l'optimisation des ressources d'entreprise.
                                </p>
                                <div class="lg:col-span-5 flex flex-col items-end">
                                    <a href="https://carsfleet.spaarple.fr/" target="_blank"
                                       class="transform hover:scale-110 transition-transform duration-200 text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 my-4 rounded-full flex flex-row gap-2
                                    items-center justify-center">
                                        Découvrez le site
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                            <div>
                                <img src="{{ asset('build/images/klerp-visuel-application-web.png') }}"
                                     title="Gestion des congés et données de performance - Capture d'écran montrant les options de demande de congés et les indicateurs clés pour l'administration"
                                     alt="Gestion des congés et données de performance - Capture d'écran montrant les options de demande de congés et les indicateurs clés pour l'administration" />
                            </div>
                            <div class="flex flex-col self-stretch pt-6">
                                <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                    Klerp
                                </h3>
                                <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                    Simplifiez la gestion de votre entreprise avec Klerp : l'application ERP conçue
                                    spécialement pour les besoins des petites entreprises.
                                </p>
                            </div>
                        </div>
                        <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                            <div>
                                <img src="{{ asset('build/images/petanque-escoublacaise-application-web.png') }}"
                                     title="Page d'accueil du site de la Pétanque Escoublacaise - Présentation du club et de ses membres"
                                     alt="age d'accueil du site de la Pétanque Escoublacaise - Présentation du club et de ses membres" />
                            </div>
                            <div class="flex flex-col self-stretch pt-6">
                                <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                    Pétanque Escoublacaise
                                </h3>
                                <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                    Site internet dédié à l'association "La Pétanque Escoublacaise". <br>Ce site vise à promouvoir le club et à simplifier sa gestion interne.
                                </p>
                                <div class="lg:col-span-5 flex flex-col items-end">
                                    <a href="https://petanque-escoublac.fr/" target="_blank"
                                       class="transform hover:scale-110 transition-transform duration-200 text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 my-4 rounded-full flex flex-row gap-2
                                    items-center justify-center">
                                        Découvrez le site
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services">
        <div class="md:container md:mx-auto">
            <div class="lg:py-30 md:py-16 pt-5 pb-12">
                <div class="flex flex-col relative bg-darkness-200 lg:py-0 py-10">
                    <div class="absolute lg:block hidden h-16 bg-white bottom-0 left-0 right-0"></div>
                    <div class="absolute lg:block hidden h-16 bg-white top-0 left-0 right-0"></div>
                    <div class="grid lg:grid-cols-12 grid-cols-1 xl:gap-8 items-center relative">
                        <div class="lg:col-span-5 flex flex-col items-start xl:px-18 lg:px-10 md:px-8 px-5 lg:py-32 md:pb-4 pb-10">
                            <h2 class="lg:text-display-sm text-display-md font-semibold pb-4">
                                Les principes fondamentaux qui nous animent
                            </h2>
                            <p class="text-body-md font-normal text-neutral-600 pb-8">
                                À chaque étape, notre engagement pour l'intégrité, l'innovation et la satisfaction
                                client forge les piliers solides de notre entreprise.
                            </p>
                            <a href="{{ path('app_estimate_index') }}"
                               class="text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                                Découvrir nos expertises
                            </a>
                        </div>
                        <div class="lg:col-span-7 flex md:flex-row flex-col lg:gap-8 gap-6 items-center xl:pr-16 lg:pr-10 lg:pl-0 md:px-8 px-5 relative">
                            <div class="flex flex-col basis-1/2 lg:gap-8 gap-6 relative">
                                <div class="bg-white p-8 shadow-xl rounded-lg">
                                    <lord-icon src="https://cdn.lordicon.com/zsaomnmb.json" trigger="loop" delay="100"></lord-icon>
                                    <p class="text-display-xs font-semibold pb-4">
                                        Performance Optimale
                                    </p>
                                    <p class="text-body-md font-normal text-neutral-600">
                                        Nous nous engageons pour une performance sans faille, avec une optimisation
                                        constante garantissant rapidité et fluidité dans chaque interaction digitale.
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex-col basis-1/2 lg:gap-8 gap-6 relative">
                                <div class="bg-white p-8 shadow-xl rounded-lg">
                                    <lord-icon src="https://cdn.lordicon.com/vvqcrgre.json" trigger="loop" delay="100" ></lord-icon>
                                    <p class="text-display-xs font-semibold pb-4">
                                        Intégrité et Innovation
                                    </p>
                                    <p class="text-body-md font-normal text-neutral-600">
                                        Nous sommes dédiés à l'excellence, conjuguant intégrité et innovation continue
                                        pour construire des solutions web avancées qui anticipent et satisfont les besoins évolutifs de nos clients.
                                    </p>
                                </div>
                                <div class="bg-white p-8 shadow-xl rounded-lg">
                                    <lord-icon src="https://cdn.lordicon.com/jldyvygy.json" trigger="loop" delay="100">
                                    </lord-icon>
                                    <p class="text-display-xs font-semibold pb-4">
                                        Sécurité Intégrale
                                    </p>
                                    <p class="text-body-md font-normal text-neutral-600">
                                        La sécurité est notre priorité absolue. Nous appliquons des mesures rigoureuses
                                        et une surveillance infaillible pour assurer une protection complète à nos clients.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="integration">
        <div class="container mx-auto">
            <div class="md:py-12 py-8">
                <div class="flex justify-center relative pb-1">
                    <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-logo-clouds-line"></span>
                    <div class="bg-white px-6 py-3 relative">
                        <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                            INTÉGRATION PARFAITE
                        </p>
                    </div>
                </div>
                <div class="flex flex-row flex-wrap justify-center items-center gap-8 py-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 128 128">
                        <title>TailwindCSS</title>
                        <path fill="#38bdf8" d="M64.004 25.602c-17.067 0-27.73 8.53-32 25.597c6.398-8.531 13.867-11.73 22.398-9.597c4.871 1.214 8.352 4.746 12.207 8.66C72.883 56.629 80.145 64 96.004 64c17.066 0 27.73-8.531 32-25.602c-6.399 8.536-13.867 11.735-22.399 9.602c-4.87-1.215-8.347-4.746-12.207-8.66c-6.27-6.367-13.53-13.738-29.394-13.738M32.004 64c-17.066 0-27.73 8.531-32 25.602C6.402 81.066 13.87 77.867 22.402 80c4.871 1.215 8.352 4.746 12.207 8.66c6.274 6.367 13.536 13.738 29.395 13.738c17.066 0 27.73-8.53 32-25.597c-6.399 8.531-13.867 11.73-22.399 9.597c-4.87-1.214-8.347-4.746-12.207-8.66C55.128 71.371 47.868 64 32.004 64m0 0" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 384 512">
                        <title>Stripe - Service de paiement</title>
                        <path fill="#635bff" d="M155.3 154.6c0-22.3 18.6-30.9 48.4-30.9c43.4 0 98.5 13.3 141.9 36.7V26.1C298.3 7.2 251.1 0 203.8 0C88.1 0 11 60.4 11 161.4c0 157.9 216.8 132.3 216.8 200.4c0 26.4-22.9 34.9-54.7 34.9c-47.2 0-108.2-19.5-156.1-45.5v128.5a396.09 396.09 0 0 0 156 32.4c118.6 0 200.3-51 200.3-153.6c0-170.2-218-139.7-218-203.9" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 292" width="3em" height="3em">
                        <title>Shopify</title>
                        <path fill="#95bf46" d="M223.774 57.34c-.201-1.46-1.48-2.268-2.537-2.357a19614 19614 0 0 0-23.383-1.743s-15.507-15.395-17.209-17.099c-1.703-1.703-5.029-1.185-6.32-.805c-.19.056-3.388 1.043-8.678 2.68c-5.18-14.906-14.322-28.604-30.405-28.604c-.444 0-.901.018-1.358.044C129.31 3.407 123.644.779 118.75.779c-37.465 0-55.364 46.835-60.976 70.635c-14.558 4.511-24.9 7.718-26.221 8.133c-8.126 2.549-8.383 2.805-9.45 10.462C21.3 95.806.038 260.235.038 260.235l165.678 31.042l89.77-19.42S223.973 58.8 223.775 57.34M156.49 40.848l-14.019 4.339c.005-.988.01-1.96.01-3.023c0-9.264-1.286-16.723-3.349-22.636c8.287 1.04 13.806 10.469 17.358 21.32m-27.638-19.483c2.304 5.773 3.802 14.058 3.802 25.238c0 .572-.005 1.095-.01 1.624c-9.117 2.824-19.024 5.89-28.953 8.966c5.575-21.516 16.025-31.908 25.161-35.828m-11.131-10.537c1.617 0 3.246.549 4.805 1.622c-12.007 5.65-24.877 19.88-30.312 48.297l-22.886 7.088C75.694 46.16 90.81 10.828 117.72 10.828" />
                        <path fill="#5e8e3e" d="M221.237 54.983a19614 19614 0 0 0-23.383-1.743s-15.507-15.395-17.209-17.099c-.637-.634-1.496-.959-2.394-1.099l-12.527 256.233l89.762-19.418S223.972 58.8 223.774 57.34c-.201-1.46-1.48-2.268-2.537-2.357" />
                        <path fill="#fff" d="m135.242 104.585l-11.069 32.926s-9.698-5.176-21.586-5.176c-17.428 0-18.305 10.937-18.305 13.693c0 15.038 39.2 20.8 39.2 56.024c0 27.713-17.577 45.558-41.277 45.558c-28.44 0-42.984-17.7-42.984-17.7l7.615-25.16s14.95 12.835 27.565 12.835c8.243 0 11.596-6.49 11.596-11.232c0-19.616-32.16-20.491-32.16-52.724c0-27.129 19.472-53.382 58.778-53.382c15.145 0 22.627 4.338 22.627 4.338" />
                    </svg>
                    <svg viewBox="0 -.11376601 49.74245785 51.31690859" width="3em" height="3em"
                         xmlns="http://www.w3.org/2000/svg">
                        <title>Laravel</title>
                        <path d="m49.626 11.564a.809.809 0 0 1 .028.209v10.972a.8.8 0 0 1 -.402.694l-9.209 5.302v10.509c0 .286-.152.55-.4.694l-19.223 11.066c-.044.025-.092.041-.14.058-.018.006-.035.017-.054.022a.805.805 0 0 1 -.41 0c-.022-.006-.042-.018-.063-.026-.044-.016-.09-.03-.132-.054l-19.219-11.066a.801.801 0 0 1 -.402-.694v-32.916c0-.072.01-.142.028-.21.006-.023.02-.044.028-.067.015-.042.029-.085.051-.124.015-.026.037-.047.055-.071.023-.032.044-.065.071-.093.023-.023.053-.04.079-.06.029-.024.055-.05.088-.069h.001l9.61-5.533a.802.802 0 0 1 .8 0l9.61 5.533h.002c.032.02.059.045.088.068.026.02.055.038.078.06.028.029.048.062.072.094.017.024.04.045.054.071.023.04.036.082.052.124.008.023.022.044.028.068a.809.809 0 0 1 .028.209v20.559l8.008-4.611v-10.51c0-.07.01-.141.028-.208.007-.024.02-.045.028-.068.016-.042.03-.085.052-.124.015-.026.037-.047.054-.071.024-.032.044-.065.072-.093.023-.023.052-.04.078-.06.03-.024.056-.05.088-.069h.001l9.611-5.533a.801.801 0 0 1 .8 0l9.61 5.533c.034.02.06.045.09.068.025.02.054.038.077.06.028.029.048.062.072.094.018.024.04.045.054.071.023.039.036.082.052.124.009.023.022.044.028.068zm-1.574 10.718v-9.124l-3.363 1.936-4.646 2.675v9.124l8.01-4.611zm-9.61 16.505v-9.13l-4.57 2.61-13.05 7.448v9.216zm-36.84-31.068v31.068l17.618 10.143v-9.214l-9.204-5.209-.003-.002-.004-.002c-.031-.018-.057-.044-.086-.066-.025-.02-.054-.036-.076-.058l-.002-.003c-.026-.025-.044-.056-.066-.084-.02-.027-.044-.05-.06-.078l-.001-.003c-.018-.03-.029-.066-.042-.1-.013-.03-.03-.058-.038-.09v-.001c-.01-.038-.012-.078-.016-.117-.004-.03-.012-.06-.012-.09v-21.483l-4.645-2.676-3.363-1.934zm8.81-5.994-8.007 4.609 8.005 4.609 8.006-4.61-8.006-4.608zm4.164 28.764 4.645-2.674v-20.096l-3.363 1.936-4.646 2.675v20.096zm24.667-23.325-8.006 4.609 8.006 4.609 8.005-4.61zm-.801 10.605-4.646-2.675-3.363-1.936v9.124l4.645 2.674 3.364 1.937zm-18.422 20.561 11.743-6.704 5.87-3.35-8-4.606-9.211 5.303-8.395 4.833z" fill="#ff2d20" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 25.6 25.6" width="3em">
                        <title>PostgresSQL</title>
                        <g fill="none" stroke="#fff">
                            <path d="M18.983 18.636c.163-1.357.114-1.555 1.124-1.336l.257.023c.777.035 1.793-.125 2.4-.402 1.285-.596 2.047-1.592.78-1.33-2.89.596-3.1-.383-3.1-.383 3.053-4.53 4.33-10.28 3.227-11.687-3.004-3.84-8.205-2.024-8.292-1.976l-.028.005c-.57-.12-1.2-.19-1.93-.2-1.308-.02-2.3.343-3.054.914 0 0-9.277-3.822-8.846 4.807.092 1.836 2.63 13.9 5.66 10.25C8.29 15.987 9.36 14.86 9.36 14.86c.53.353 1.167.533 1.834.468l.052-.044a2.01 2.01 0 0 0 .021.518c-.78.872-.55 1.025-2.11 1.346-1.578.325-.65.904-.046 1.056.734.184 2.432.444 3.58-1.162l-.046.183c.306.245.285 1.76.33 2.842s.116 2.093.337 2.688.48 2.13 2.53 1.7c1.713-.367 3.023-.896 3.143-5.81" fill="#000" stroke="#000" stroke-linecap="butt" stroke-width="2.149" class="D" />
                            <path d="M23.535 15.6c-2.89.596-3.1-.383-3.1-.383 3.053-4.53 4.33-10.28 3.228-11.687-3.004-3.84-8.205-2.023-8.292-1.976l-.028.005a10.31 10.31 0 0 0-1.929-.201c-1.308-.02-2.3.343-3.054.914 0 0-9.278-3.822-8.846 4.807.092 1.836 2.63 13.9 5.66 10.25C8.29 15.987 9.36 14.86 9.36 14.86c.53.353 1.167.533 1.834.468l.052-.044a2.02 2.02 0 0 0 .021.518c-.78.872-.55 1.025-2.11 1.346-1.578.325-.65.904-.046 1.056.734.184 2.432.444 3.58-1.162l-.046.183c.306.245.52 1.593.484 2.815s-.06 2.06.18 2.716.48 2.13 2.53 1.7c1.713-.367 2.6-1.32 2.725-2.906.088-1.128.286-.962.3-1.97l.16-.478c.183-1.53.03-2.023 1.085-1.793l.257.023c.777.035 1.794-.125 2.39-.402 1.285-.596 2.047-1.592.78-1.33z" fill="#336791" stroke="none" />
                            <g class="E">
                                <g class="B">
                                    <path d="M12.814 16.467c-.08 2.846.02 5.712.298 6.4s.875 2.05 2.926 1.612c1.713-.367 2.337-1.078 2.607-2.647l.633-5.017M10.356 2.2S1.072-1.596 1.504 7.033c.092 1.836 2.63 13.9 5.66 10.25C8.27 15.95 9.27 14.907 9.27 14.907m6.1-13.4c-.32.1 5.164-2.005 8.282 1.978 1.1 1.407-.175 7.157-3.228 11.687" class="C" />
                                    <path d="M20.425 15.17s.2.98 3.1.382c1.267-.262.504.734-.78 1.33-1.054.49-3.418.615-3.457-.06-.1-1.745 1.244-1.215 1.147-1.652-.088-.394-.69-.78-1.086-1.744-.347-.84-4.76-7.29 1.224-6.333.22-.045-1.56-5.7-7.16-5.782S7.99 8.196 7.99 8.196"
                                          stroke-linejoin="bevel" />
                                </g>
                                <g class="C">
                                    <path d="M11.247 15.768c-.78.872-.55 1.025-2.11 1.346-1.578.325-.65.904-.046 1.056.734.184 2.432.444 3.58-1.163.35-.49-.002-1.27-.482-1.468-.232-.096-.542-.216-.94.23z" />
                                    <path d="M11.196 15.753c-.08-.513.168-1.122.433-1.836.398-1.07 1.316-2.14.582-5.537-.547-2.53-4.22-.527-4.22-.184s.166 1.74-.06 3.365c-.297 2.122 1.35 3.916 3.246 3.733" class="B" />
                                </g>
                            </g>
                            <g fill="#fff" class="D">
                                <path d="M10.322 8.145c-.017.117.215.43.516.472s.558-.202.575-.32-.215-.246-.516-.288-.56.02-.575.136z" stroke-width=".239" />
                                <path d="M19.486 7.906c.016.117-.215.43-.516.472s-.56-.202-.575-.32.215-.246.516-.288.56.02.575.136z" stroke-width=".119" />
                            </g>
                            <path d="M20.562 7.095c.05.92-.198 1.545-.23 2.524-.046 1.422.678 3.05-.413 4.68" class="B C E" />
                        </g>
                    </svg>
                    <svg viewBox="-.557 117.607 598.543 423.631" width="3em" height="3em"
                         xmlns="http://www.w3.org/2000/svg">
                        <title>Docker</title>
                        <g fill="#0091e2">
                            <path d="m592.162 277.804c-1.664-1.37-16.642-12.597-48.815-12.597-8.321 0-16.92.822-25.24 2.191-6.102-41.898-41.327-62.162-42.714-63.257l-8.598-4.93-5.547 7.942c-6.934 10.68-12.204 22.729-15.255 35.052-5.824 23.824-2.219 46.279 9.985 65.447-14.7 8.216-38.553 10.133-43.545 10.406h-393.853c-10.262 0-18.583 8.216-18.583 18.348-.554 33.956 5.27 67.912 17.197 99.951 13.59 35.052 33.838 61.067 59.91 76.95 29.4 17.799 77.383 27.931 131.468 27.931 24.408 0 48.815-2.19 72.946-6.572 33.56-6.025 65.734-17.526 95.412-34.23a260.485 260.485 0 0 0 64.902-52.577c31.342-34.778 49.925-73.663 63.515-108.167h5.547c34.116 0 55.195-13.418 66.844-24.92 7.766-7.12 13.59-15.882 17.751-25.74l2.497-7.12z" />
                            <path d="m55.193 306.83h52.698c2.497 0 4.716-1.916 4.716-4.654v-46.553c0-2.465-1.942-4.655-4.716-4.655h-52.698c-2.496 0-4.715 1.916-4.715 4.655v46.553c.277 2.738 2.219 4.655 4.715 4.655zm72.668 0h52.699c2.496 0 4.715-1.916 4.715-4.654v-46.553c0-2.465-1.942-4.655-4.715-4.655h-52.7c-2.496 0-4.715 1.916-4.715 4.655v46.553c.278 2.738 2.22 4.655 4.715 4.655m74.055 0h52.699c2.496 0 4.715-1.917 4.715-4.655v-46.553c0-2.465-1.942-4.655-4.715-4.655h-52.699c-2.496 0-4.715 1.916-4.715 4.655v46.553c0 2.738 1.942 4.655 4.715 4.655zm72.946 0h52.699c2.496 0 4.715-1.917 4.715-4.655v-46.553c0-2.465-1.942-4.655-4.715-4.655h-52.699c-2.496 0-4.715 1.916-4.715 4.655v46.553c0 2.738 2.219 4.655 4.715 4.655zm-147-66.543h52.698c2.496 0 4.715-2.19 4.715-4.655v-46.553c0-2.465-1.942-4.656-4.715-4.656h-52.699c-2.496 0-4.715 1.917-4.715 4.656v46.553c.278 2.464 2.22 4.655 4.715 4.655m74.055 0h52.699c2.496 0 4.715-2.19 4.715-4.655v-46.553c0-2.465-1.942-4.656-4.715-4.656h-52.699c-2.496 0-4.715 1.917-4.715 4.656v46.553c0 2.464 1.942 4.655 4.715 4.655m72.946 0h52.699c2.496 0 4.715-2.19 4.715-4.655v-46.553c0-2.465-2.22-4.656-4.715-4.656h-52.699c-2.496 0-4.715 1.917-4.715 4.656v46.553c0 2.464 2.219 4.655 4.715 4.655m0-66.817h52.699c2.496 0 4.715-1.917 4.715-4.655v-46.553c0-2.465-2.22-4.656-4.715-4.656h-52.699c-2.496 0-4.715 1.917-4.715 4.656v46.553c0 2.464 2.219 4.655 4.715 4.655m73.5 133.36h52.699c2.496 0 4.715-1.917 4.715-4.655v-46.553c0-2.465-1.941-4.655-4.715-4.655h-52.698c-2.497 0-4.716 1.916-4.716 4.655v46.553c.278 2.738 2.22 4.655 4.716 4.655" />
                        </g>
                    </svg>
                    <svg viewBox="0 0 256 257" width="3em" height="3em" version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         preserveAspectRatio="xMidYMid">
                        <title>Symfony</title>
                        <g>
                            <circle fill="#1A171B" cx="128" cy="128.827077" r="128"></circle>
                            <path d="M183.7056,48.1240615 C170.720492,48.5769846 159.3856,55.7331692 150.949415,65.6344615 C141.607385,76.4888615 135.392492,89.3636923 130.914462,102.506338 C122.903631,95.9409231 116.724185,87.4417231 103.872985,83.7356308 C93.9401846,80.8841846 83.5072,82.0617846 73.9131077,89.2100923 C69.3681231,92.6050462 66.2370462,97.7368615 64.7483077,102.561477 C60.8925538,115.0976 68.8009846,126.255262 72.3928615,130.260677 L80.2461538,138.677169 C81.8648615,140.327385 85.7639385,144.632123 83.8577231,150.803692 C81.7979077,157.514831 73.7083077,161.858954 65.4099692,159.298954 C61.7038769,158.168615 56.3790769,155.407754 57.5724308,151.520492 C58.0647385,149.929354 59.2029538,148.739938 59.8134154,147.365415 C60.3726769,146.183877 60.6404923,145.297723 60.8098462,144.777846 C62.3261538,139.8272 60.2545231,133.387815 54.9533538,131.753354 C50.0066462,130.237046 44.9457231,131.438277 42.9843692,137.806769 C40.7591385,145.041723 44.2210462,158.172554 62.7672615,163.8912 C84.4957538,170.566892 102.876554,158.735754 105.483815,143.304862 C107.126154,133.639877 102.762338,126.460062 94.7672615,117.224369 L88.2530462,110.020923 C84.3067077,106.078523 82.9518769,99.3595077 87.0360615,94.1961846 C90.4822154,89.8402462 95.3895385,87.9812923 103.427938,90.1671385 C115.160615,93.3533538 120.390892,101.494154 129.118523,108.059569 C125.514831,119.878892 123.159631,131.741538 121.028923,142.379323 L119.729231,150.311385 C113.490708,183.032123 108.729108,200.999385 96.3544615,211.314215 C93.8614154,213.086523 90.2971077,215.741046 84.9250462,215.926154 C82.1090462,216.0128 81.1992615,214.075077 81.1598769,213.232246 C81.0929231,211.255138 82.7588923,210.349292 83.8656,209.4592 C85.5197538,208.557292 88.0206769,207.060677 87.8513231,202.267569 C87.6701538,196.604062 82.9794462,191.6928 76.1974154,191.917292 C71.1168,192.090585 63.3737846,196.871877 63.6652308,205.623138 C63.9684923,214.661908 72.3928615,221.436062 85.0944,221.006769 C91.8843077,220.7744 107.047385,218.0096 121.989908,200.247138 C139.382154,179.885292 144.246154,156.542031 147.904985,139.456985 L151.989169,116.901415 C154.257723,117.173169 156.683815,117.354338 159.322585,117.417354 C180.984123,117.874215 191.818831,106.653538 191.980308,98.4930462 C192.086646,93.5542154 188.738954,88.6941538 184.052185,88.8044308 C180.696615,88.8989538 176.482462,91.1320615 175.470277,95.7715692 C174.481723,100.324431 182.362585,104.432246 176.202831,108.421908 C171.8272,111.253662 163.981785,113.250462 152.9344,111.627815 L154.943015,100.525292 C159.042954,79.4702769 164.099938,53.5709538 183.284185,52.9408 C184.682338,52.8699077 189.7984,53.0038154 189.916554,56.3869538 C189.952,57.5172923 189.672369,57.8048 188.349046,60.3923692 C187.002092,62.4088615 186.494031,64.1260308 186.557046,66.0992 C186.742154,71.4752 190.830277,75.008 196.741908,74.7953231 C204.658215,74.5393231 206.934646,66.8317538 206.804677,62.8736 C206.485662,53.5748923 196.682831,47.6987077 183.7056,48.1240615 L183.7056,48.1240615 Z" fill="#FFFFFF"></path>
                        </g>
                    </svg>
                    <svg viewBox="-7.938 -7.939 72.731 49.537" width="3em" height="3em" xmlns="http://www.w3.org/2000/svg">
                        <title>MySQL</title>
                        <g stroke-width=".187">
                            <path d="m21.72 24.79c-1.143 6.217-2.65 10.74-4.521 13.55-1.458 2.172-3.055 3.258-4.794 3.258-.464 0-1.035-.14-1.714-.418v-1.5c.331.05.72.075 1.167.075.811 0 1.465-.224 1.963-.673.596-.547.894-1.161.894-1.842 0-.465-.233-1.42-.696-2.864l-3.08-9.59h2.757l2.21 7.173c.497 1.628.704 2.765.621 3.413 1.21-3.238 2.054-6.766 2.534-10.58h2.658m-12.17 12.4h-2.806c-.099-4.75-.372-9.215-.82-13.4h-.023l-4.273 13.4h-2.138l-4.247-13.4h-.025c-.315 4.018-.513 8.483-.596 13.4h-2.559c.165-5.978.58-11.58 1.241-16.81h3.478l4.049 12.35h.025l4.074-12.35h3.328c.728 6.126 1.159 11.73 1.29 16.81" fill="#00758f" />
                            <path d="m59.08 37.19h-7.973v-16.81h2.683v14.74h5.29v2.068m-20.05-3.363c-.68-1.096-1.019-2.854-1.019-5.279 0-4.233 1.284-6.351 3.85-6.351 1.342 0 2.327.507 2.956 1.519.678 1.096 1.018 2.84 1.018 5.231 0 4.267-1.284 6.402-3.85 6.402-1.341 0-2.327-.506-2.955-1.52m9.985 3.768-3.082-1.524c.274-.226.535-.47.77-.75 1.31-1.543 1.964-3.826 1.964-6.849 0-5.562-2.178-8.344-6.533-8.344-2.136 0-3.801.705-4.993 2.118-1.31 1.544-1.963 3.82-1.963 6.824 0 2.955.58 5.123 1.738 6.5 1.056 1.245 2.653 1.868 4.792 1.868.798 0 1.53-.098 2.195-.295l4.013 2.342 1.094-1.89m-15-5.065c0 1.426-.522 2.596-1.564 3.512-1.042.911-2.443 1.369-4.196 1.369-1.64 0-3.23-.527-4.77-1.57l.721-1.444c1.325.664 2.524.995 3.6.995 1.01 0 1.8-.225 2.372-.67.57-.449.913-1.074.913-1.867 0-.998-.695-1.851-1.968-2.567a306.291 306.291 0 0 1 -3.526-1.998c-1.273-.932-1.912-1.931-1.912-3.577 0-1.362.476-2.463 1.427-3.3.953-.84 2.183-1.26 3.689-1.26 1.557 0 2.972.417 4.247 1.248l-.648 1.443c-1.09-.464-2.166-.697-3.227-.697-.86 0-1.524.208-1.986.624-.465.413-.752.945-.752 1.593 0 .996.71 1.86 2.019 2.59 1.19.647 3.599 2.024 3.599 2.024 1.31.93 1.963 1.921 1.963 3.554m26.979 4.658h.445v-1.71h.581v-.35h-1.63v.35h.604zm3.383 0h.419v-2.06h-.63l-.513 1.404-.559-1.404h-.607v2.06h.397v-1.568h.022l.585 1.568h.302l.584-1.568z" fill="#f29111" />
                            <path d="m36.78-7.929c-.709-.01-1.327.257-1.646 1.042-.547 1.321.81 2.62 1.277 3.291.344.467.79.996 1.032 1.523.142.345.183.712.325 1.077.324.894.627 1.889 1.053 2.723.222.427.465.874.749 1.258.163.225.446.325.507.692-.283.405-.305 1.015-.466 1.524-.73 2.295-.446 5.139.587 6.825.324.507 1.094 1.625 2.128 1.198.912-.365.71-1.523.972-2.538.061-.246.02-.407.142-.57v.042c.283.568.568 1.115.831 1.686.629.994 1.722 2.03 2.634 2.72.485.367.87.996 1.478 1.22v-.062h-.04c-.122-.182-.304-.264-.466-.405-.365-.366-.769-.813-1.053-1.22-.85-1.136-1.601-2.396-2.268-3.696-.325-.631-.608-1.321-.872-1.95-.121-.243-.121-.61-.324-.731-.305.446-.75.833-.972 1.379-.385.875-.425 1.951-.568 3.068-.08.021-.04 0-.08.04-.648-.162-.871-.832-1.115-1.4-.608-1.443-.71-3.76-.182-5.424.14-.426.75-1.766.506-2.173-.122-.388-.527-.61-.75-.915a8.054 8.054 0 0 1 -.728-1.3c-.486-1.137-.73-2.397-1.256-3.534-.243-.53-.67-1.077-1.013-1.564-.386-.549-.81-.935-1.115-1.584-.1-.224-.242-.59-.08-.833.039-.163.121-.224.284-.265.261-.223 1.012.06 1.275.182.75.304 1.378.59 2.005 1.015.283.204.587.59.952.692h.426c.648.142 1.378.04 1.986.223 1.073.345 2.045.853 2.917 1.401a18.007 18.007 0 0 1 6.319 6.947c.244.467.346.894.568 1.38.426.998.953 2.013 1.378 2.987.425.955.831 1.93 1.44 2.722.302.426 1.518.65 2.065.873.405.182 1.033.345 1.398.568.69.426 1.376.914 2.025 1.382.324.244 1.336.751 1.397 1.158-1.62-.04-2.876.122-3.93.57-.303.121-.789.121-.83.507.163.162.182.426.325.65.243.407.667.954 1.053 1.24.426.325.851.649 1.297.933.79.49 1.681.773 2.45 1.26.447.284.892.65 1.338.955.222.162.363.427.648.527v-.062c-.143-.182-.183-.446-.324-.65-.202-.202-.405-.385-.608-.588a9.674 9.674 0 0 0 -2.106-2.05c-.649-.449-2.068-1.059-2.33-1.808l-.041-.041c.445-.041.973-.204 1.399-.327.687-.183 1.316-.142 2.025-.324.324-.082.648-.184.974-.283v-.185c-.367-.364-.629-.853-1.013-1.198-1.032-.893-2.168-1.766-3.343-2.499-.63-.406-1.44-.669-2.108-1.015-.242-.122-.647-.182-.79-.386-.364-.447-.568-1.035-.83-1.564a50.647 50.647 0 0 1 -1.661-3.535c-.365-.792-.588-1.583-1.033-2.315-2.088-3.454-4.356-5.545-7.84-7.597-.75-.427-1.641-.61-2.592-.833-.508-.021-1.013-.06-1.52-.08-.325-.144-.65-.53-.933-.713-.722-.457-2.156-1.247-3.337-1.265zm4.998 5.021c-.344 0-.586.042-.83.102v.04h.039c.163.325.447.55.648.834.163.325.305.649.467.974l.04-.04c.285-.203.427-.528.427-1.016-.123-.143-.142-.284-.244-.427-.121-.202-.385-.304-.547-.467z" fill="#00758f" />
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 1052 1052">
                        <title>Javascript</title>
                        <path fill="#f0db4f" d="M0 0h1052v1052H0z" />
                        <path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#323330" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" width="3em" height="3em"
                         viewBox="0 0 309.88 252.72">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #003545;
                                }
                            </style>
                        </defs>
                        <title>Maria DB</title>
                        <path class="cls-1"
                              d="M61.74,214.91,73,258.46h-8.5L57,227.09,42.86,258.46H35.68L21.62,227.27,13.9,258.46H5.58l11.16-43.55H24.1l15.2,33.72,15.14-33.72Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M105.11,231.74v-5.07h8.21v31.79h-8.21v-5.12c-2.17,3.68-6.63,5.79-12.06,5.79-11.35,0-17.68-8-17.68-17.2,0-8.87,6-16,16.47-16C97.81,226,102.76,228,105.11,231.74Zm-21,10.62c0,5.85,3.68,10.86,10.8,10.86,6.87,0,10.61-4.89,10.61-10.68s-3.86-10.74-11-10.74C87.68,231.8,84.12,236.74,84.12,242.36Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M131.83,258.46h-8.2V226.67h8.2v7.12A12.58,12.58,0,0,1,143.29,226a14.84,14.84,0,0,1,5.13.84l-1.75,6a18,18,0,0,0-4.34-.6c-5.92,0-10.5,4.46-10.5,11Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M152.52,218.28a4.17,4.17,0,0,1,4.4-4.28,4.33,4.33,0,0,1,4.47,4.41,4.15,4.15,0,0,1-4.47,4.22A4.22,4.22,0,0,1,152.52,218.28Zm.36,8.39h8.21V249.9c0,1.44.3,2.47,1.5,2.47a8.85,8.85,0,0,0,1.57-.18l1.27,6a14.36,14.36,0,0,1-5.43,1c-3.44,0-7.12-1-7.12-8.81Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M197.76,231.74v-5.07H206v31.79h-8.21v-5.12c-2.17,3.68-6.63,5.79-12.06,5.79-11.34,0-17.68-8-17.68-17.2,0-8.87,6-16,16.47-16C190.46,226,195.41,228,197.76,231.74Zm-21,10.62c0,5.85,3.68,10.86,10.8,10.86,6.88,0,10.62-4.89,10.62-10.68s-3.87-10.74-11-10.74C180.33,231.8,176.77,236.74,176.77,242.36Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M218.57,214.91h19.67c16.53,0,24.79,9.11,24.67,21.77.12,13.16-9,21.78-23.22,21.78H218.57Zm5.43,3.86v35.89h15c13.15,0,18.16-8.87,18.16-18.1,0-10.43-6.27-17.79-18.16-17.79Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M296.45,258.46h-25V214.91H294c8.62,0,16.83,1.62,16.71,11.28,0,6.81-4.23,8.69-8.69,9.41,6.33.54,10.14,4.58,10.14,11.1C312.2,256.47,303.63,258.46,296.45,258.46Zm-1.87-24.55c8.63,0,10.56-3.32,10.56-7.54,0-6.34-3.86-7.78-10.56-7.78H276.66v15.32Zm.24,3.68H276.66v17.19H295.6c5.31,0,10.92-1.75,10.92-8.44C306.52,238.62,300.07,237.59,294.82,237.59Z"
                              transform="translate(-5.58 -6.4)"></path>
                        <path class="cls-1"
                              d="M314.08,7.35a4.18,4.18,0,0,0-2.84-.95c-2.83,0-6.49,1.92-8.46,2.95l-.78.4a26.86,26.86,0,0,1-10.57,2.66c-3.76.12-7,.34-11.22.78-25,2.57-36.15,21.73-46.89,40.26C227.47,63.53,221.43,74,213.15,82a54.4,54.4,0,0,1-5.45,4.63C199.13,93,188.37,97.55,180,100.77c-8.06,3.08-16.86,5.85-25.36,8.53-7.79,2.45-15.14,4.77-21.9,7.28-3.05,1.13-5.64,2-7.93,2.76-6.16,2-10.6,3.53-17.09,8-2.53,1.73-5.07,3.6-6.79,5a71.62,71.62,0,0,0-13.55,14.27A84.25,84.25,0,0,1,76,160.27c-1.37,1.34-3.8,2-7.44,2-4.26,0-9.43-.88-14.9-1.81-5.64-1-11.47-1.95-16.47-1.95-4.06,0-7.17.66-9.49,2,0,0-3.91,2.28-5.56,5.23l1.62.73a33.21,33.21,0,0,1,6.92,5,34.72,34.72,0,0,0,7.2,5.12A6.18,6.18,0,0,1,40.1,178c-.68,1-1.68,2.29-2.73,3.67-5.77,7.55-9.14,12.32-7.21,14.92a6.07,6.07,0,0,0,3,.68c12.58,0,19.34-3.27,27.89-7.41,2.48-1.2,5-2.43,8-3.7,5-2.17,10.38-5.63,16.09-9.29C92.61,172,100.42,167,108,164.59a62.3,62.3,0,0,1,19.23-2.7c8,0,16.42,1.07,24.54,2.11,6.05.78,12.32,1.58,18.47,1.95,2.39.14,4.6.21,6.75.21a78.21,78.21,0,0,0,8.61-.45l.69-.24c4.31-2.65,6.33-8.34,8.29-13.84,1.26-3.54,2.32-6.72,4-8.74a2.55,2.55,0,0,1,.32-.27.4.4,0,0,1,.49.08s0,.05,0,.16c-1,21.51-9.66,35.17-18.42,47.31l-5.85,6.27s8.19,0,12.85-1.8c17-5.08,29.83-16.28,39.17-34.14a145.7,145.7,0,0,0,6.17-14.09c.16-.4,1.63-1.14,1.49.93-.05.61-.09,1.29-.14,2h0c0,.42,0,.85-.08,1.28-.24,3-.95,9.34-.95,9.34l5.25-2.81c12.66-8,22.42-24.14,29.82-49.25,3.08-10.46,5.34-20.85,7.33-30,2.38-11,4.43-20.43,6.78-24.09,3.69-5.74,9.32-9.62,14.77-13.39.74-.51,1.49-1,2.22-1.54,6.85-4.81,13.66-10.36,15.16-20.71l0-.23C316.05,10.22,315.13,8.25,314.08,7.35Z"
                              transform="translate(-5.58 -6.4)"></path>
                    </svg>
                </div>
                <div class="flex justify-center relative pb-1">
                    <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-logo-clouds-line"></span>
                    <div class="bg-white px-6 py-3 relative">
                        <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                            AVEC VOS OUTILS PRÉFÉRÉS
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="#about">
        <div class="container mx-auto">
            <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-8 gap-12 items-center lg:py-28 md:pt-12 md:pb-28 pt-10 pb-20">
                <div class="lg:col-span-5 flex flex-row items-center gap-8">
                    <div class="flex flex-col xl:pr-8">
                        <h2 class="md:text-display-lg text-display-md font-semibold md:pb-6 pb-4">
                            Notre Identité
                        </h2>
                        <p class="text-body-md font-normal text-neutral-700">
                            Spaarple se positionne en tant que votre partenaire de confiance pour la création de sites
                            web et d'applications sur mesure. Situés au cœur du Pays de la Loire, nous sommes l
                            es artisans de votre présence en ligne.<br><br>

                            Notre expertise rayonne à travers Pornichet, La Baule, et Saint-Nazaire. Nous offrons des
                            solutions personnalisées, finement ajustées pour répondre aux besoins spécifiques de votre projet digital.<br><br>

                            Notre équipe est à votre écoute pour concevoir des solutions numériques qui reflètent votre
                            vision. Nous combinons innovation et créativité pour assurer que votre identité brille sur le web.<br><br>

                            Avec Spaarple, donnez vie à vos idées et marquez le paysage numérique de la région.
                            Nous nous engageons à vous aider à créer une empreinte digitale qui se démarque et qui
                            perdure dans le dynamisme des Pays de la Loire.<br><br>
                        </p>
                    </div>
                </div>
                <div class="lg:col-span-7 lg:grid lg:grid-cols-7 flex md:flex-row flex-col items-center md:gap-8 gap-12">
                    <div class="lg:col-span-4 flex">
                        <img src="{{ asset('build/images/sample.png') }}"
                             title="Image d'un paysage"
                             alt="Image d'un paysage"
                             class="rounded-full"/>
                    </div>
                    <div class="lg:col-span-3 flex md:self-auto self-stretch grow flex-col xl:gap-16 lg:gap-8 gap-12 xl:pl-8">
                        <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                            <p class="md:text-display-lg text-display-md font-semibold">
                               +100%
                            </p>
                            <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                Passionné
                            </p>
                        </div>
                        <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                            <p class="md:text-display-lg text-display-md font-semibold">
                                +200%
                            </p>
                            <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                Créativité
                            </p>
                        </div>
                        <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                            <p class="md:text-display-lg text-display-md font-semibold">
                                ∞
                            </p>
                            <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                d'Engagement envers votre Succès
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {{ render(controller('App\\Controller\\ContactController::index')) }}

{% endblock %}