<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="{{ app.request.uri }}">
        <link rel="icon" type="image/svg+xml" href="{{ asset('build/images/icons.svg') }}">

        <meta property="og:image" content="{{ asset('build/images/spaarple-preview.png') }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        <title>{% block title %}Spaarple{% endblock %}</title>
        <script src="https://cdn.lordicon.com/lordicon.js"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include '_components/_header.html.twig' %}
        {% block body %}{% endblock %}
    {% include '_components/_footer.html.twig' %}
    </body>
</html>
