{% extends 'base.html.twig' %}

 {% import "estimate/modal.html.twig" as modal %}

{% block title %}Spaarple - Estimation d'application web{% endblock %}

{% block meta_description %}Estimation de votre site web. Remplissez ce formulaire pour obtenir une estimation personnalisée de votre site et entrer en contact avec notre équipe dès aujourd'hui pour discuter de vos besoins et objectifs en ligne.
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('modal') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block body %}
    <div class="grid grid-cols-6 gap-4">
        <div class="col-start-2 col-span-4">
            <div class="flex min-h-full flex-col justify-center mt-20">
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12 text-center">
                        <h1 class="lg:text-display-1xl md:text-display-xl text-display-md font-semibold pb-10">
                            Estimation de votre site
                        </h1>
                        <p class="mt-1 text-sm leading-6 text-gray-600">
                            Remplissez ce formulaire pour obtenir une estimation personnalisée de votre site et entrer<br>
                            en contact avec notre équipe dès aujourd'hui pour discuter de vos besoins et objectifs en ligne.
                        </p>
                    </div>
                </div>
                <div class="mt-10 sm:mx-auto sm:w-full">
                    {{ form_start(form) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.cms) }}

                    {{ form_row(form.complexity) }}
                    {{ form_row(form.integration) }}
                    {{ form_row(form.page) }}
                    {{ form_row(form.descriptionPage) }}

                    {{ form_row(form.reference) }}

                    {{ modal.modal_estimate(form.contactEmail, 'app_register_index') }}

                    <div class="flex flex-col items-center mb-20">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') is same as true %}
                            <button type="submit" class="transform hover:scale-110 transition-transform duration-200 hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900
                            py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                                Estimer votre site
                            </button>
                        {% else %}
                            <a data-modal-target="crud-modal"
                               data-modal-toggle="crud-modal" class="transform hover:scale-110 transition-transform duration-200 hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900
                               py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                                Estimer votre site
                            </a>
                        {% endif %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
