{% extends 'base.html.twig' %}

{% block title %}Spaarple - Estimation d'application web{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mt-20">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                Estimation de mon site
            </h1>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <input type="checkbox" class="appearance-none checked:bg-blue-600 checked:border-transparent">
            {{ form_start(form) }}
            {{ form_row(form.integration) }}
            {{ form_row(form.cms) }}
            {{ form_row(form.page) }}
            {{ form_row(form.complexity) }}
            <div class="flex flex-col items-center">
                <button class="hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900
                            py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                    Estimer
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
